*{
  padding: 0px;
  margin: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');

  ::-webkit-scrollbar {
    display: none;
}

body{
height: 100vh;
padding-bottom: 70px;

}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.announcement__heading h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
font-size: 67px;
color: #000000;
text-align: center;
}

.announcement__heading span{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #7F7F7F;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 55px;
}

.contact-us{
  justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 30px
}

.btn:hover{
  background: #000000;
  color: #FFFFFF !important ;
  transition: 600ms;
  text-decoration: none !important ;

}


.btn{
      border: 1px solid #000000;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 28px;
      color: #000000;
      text-align: center;
      text-decoration: none;
      padding: 17px 55px;
      outline: none
}

.btn3:hover{
  background: #000000;
  color: #FFFFFF !important ;
  transition: 600ms;
  text-decoration: none !important ;

}

.btn3{
  border: 1px solid #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #000000;
    background: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 65px;
    outline: none;


}
.container{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    margin-bottom: 1% !important ;

}


.footer{
  background: #000000;
  height: 55px;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer span{
  font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
color: #FFFFFF;

}

.well h3{
  font-family: 'Source Sans Pro', sans-serif ;
}

.link{
  color: white;
  margin-left: 100px;
}
.link:hover{
color: red;
text-decoration: none;

}
