
@media (max-width:768px) and (min-width:530px) {
  .footer span{
    font-size: 13px;

  }
}

@media (max-width:414px) and (min-width:320px) {
  .footer{
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;

  }
}

@media (max-width:414px) and (min-width:320px) {
  .announcement__heading span {
      font-size: 14px;
      padding-top: 10px;

  }
}

@media (max-width:414px) and (min-width:320px) {
  .announcement__heading h1 {
      font-size: 35px;


  }
}
@media (max-width:414px) and (min-width:320px) {
  .nav a img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width:414px) and (min-width:320px) {
  .nav {
    padding-top: 50px;
  }
}

@media (max-width:414px) and (min-width:320px) {
  .btn {
  font-size: 22px;
  padding: 12px 55px;
  }
}



@media (max-width:531px) and (min-width:415px) {
  .footer span{
    font-size: 15px;
  }
}

@media (max-width:414px) and (min-width:320px) {
  .footer span{
    font-size: 15px;
  }
}
@media (max-width:414px) and (min-width:320px) {
  .well{
    box-shadow: 0 0 0px 0 rgba(0,0,0,0.12);
  }
}
@media screen and (max-width: 1600px) {

    .content-1170
    {
        max-width: 90%;
    }

    .header-holder
    {
        max-width: 90%;
    }

    .content-970, .single-post .site-content
    {
        max-width: 90%;
    }

    .content-770
    {
        max-width: 90%;
    }

    .progress_bar_field_holder
    {
        width: 337px;
        max-width: 50%;
    }

}

@media screen and (max-width: 1450px) {

    .one_half,  .one_third,  .two_third,  .three_fourth, .one_fourth
    {
        margin-right: 8%;
        float: left;
        position: relative;
        margin-bottom: 37px;
    }

    .one_half{
        width: 46%;
    }
    .one_third{
        width: 28%;
    }
    .two_third{
        width: 64%;
    }
    .one_fourth{
        width: 19%;
    }
    .three_fourth{
        width: 73%;
    }

    .last.col-570
    {
        margin-left: 0;
    }

    .body-wrapper
    {
        margin: 20px;
    }

    .menu-wraper
    {
        border-width: 20px;
    }

    blockquote.inline-blockquote
    {
        display: block;
        margin: 50px 0;
        width: auto;
    }

    .grid-sizer, .grid-item
    {
        width: 340px;
    }

    .grid-item.p_two_third
    {
        width: 680px;
    }

    .grid, .grid-item.p_one
    {
        width: 1050px;
    }

}

@media screen and (max-width: 1220px) {

    .grid-item.p_one, .grid
    {
        width: 960px;
    }

    .grid-sizer, .grid-item
    {
        width: 320px;
    }

    .grid-item.p_two_third
    {
        width: 640px;
    }

    blockquote:before
    {
        line-height: 150px;
        font-size: 150px;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        display: block;
    }

}

@media screen and (max-width: 1066px) {

    .grid-item.p_one, .grid
    {
        width: 810px;
    }

    .grid-sizer, .grid-item
    {
        width: 270px;
    }

    .grid-item.p_two_third
    {
        width: 540px;
    }

    .body-wrapper
    {
        margin: 10px;
    }

    .menu-wraper
    {
        border-width: 10px;
    }

}

@media screen and (max-width: 1020px) {

    .one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_half.margin-0, .one_third.margin-0, .two_third.margin-0, .one_fourth.margin-0, .three_fourth.margin-0
    {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }

    .single-portfolio .one_half.margin-0 img, .single-portfolio .one_third.margin-0 img, .single-portfolio .two_third.margin-0 img, .single-portfolio .one_fourth.margin-0 img, .single-portfolio .three_fourth.margin-0 img
    {
        width: 100%;
        height: auto;
    }

    .progress_bar_field_holder
    {
        width: 100%;
        margin-top: -15px;
        max-width: 100%;
    }

}


@media screen and (max-width: 925px) {

    .grid, .grid-item.p_one
    {
        width: 690px;
    }

    .grid-item
    {
        border: 10px solid white;
    }

    .grid-sizer, .grid-item
    {
        width: 230px;
    }

    .grid-item.p_two_third
    {
        width: 460px;
    }

    .portfolio-text-holder
    {
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
    }

    .main-menu
    {
        float: none;
        margin: 0 auto;
        text-align: center;
        max-width: 300px;
        width: 100%;
        position: relative;
        z-index: 9999;
    }

    .main-menu ul
    {
        width: 12em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
    }

    .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active
    {
        padding-right: 0;
        padding-left: 0;
    }

    .single-post .nav-previous
    {
        margin-bottom: 80px;
    }

    .single-post .nav-previous, .single-post .nav-next
    {
        display: block;
    }

}

@media screen and (max-width: 805px) {

    .grid, .grid-item.p_one
    {
        width: 570px;
    }

    .grid-sizer, .grid-item
    {
        width: 190px;
    }

    .grid-item.p_two_third
    {
        width: 380px;
    }

    .portfolio-text-holder
    {
        font-size: 14px;
    }

    .single-post .entry-content
    {
        font-size: 20px;
        line-height: 35px;
    }

    .single-post .post-info div
    {
        display: block;
    }

    .single-post .post-info div:after
    {
        display: none;
    }

    blockquote.inline-blockquote
    {
        font-size: 20px;
        line-height: 32px;
    }

    p.custom-text-class, p.custom-field-class
    {
        display: block !important;
    }

    .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea, p.custom-field-class
    {
        width: 100% !important;
    }

    .blog-holder .entry-date
    {
        display: block;
    }

    .blog-holder .entry-date:after
    {
        display: none;
    }

    .single-post .tags-holder
    {
        width: auto;
    }

    .single-post .nav-previous a, .single-post .nav-next a
    {
        font-size: 22px;
        line-height: 25px;
        max-width: 75%;
    }

}

@media screen and (max-width: 782px)
{
    .logged-in .menu-wraper
    {
        top: 46px;
        height: calc(100% - 46px);
    }

    blockquote:before
    {
        line-height: 110px;
        font-size: 110px;
    }
}


@media screen and (max-width: 650px) {


    .grid, .grid-sizer, .grid-item, .grid-item.p_one, .grid-item.p_two_third
    {
        width: 100%;
    }

    .portfolio-text-holder
    {
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        font-size: 20px;
    }

}
